.containerDiv {
    width:1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 70px;
    padding-bottom: 70px;
    margin:auto;
    margin-top: 70px;
    height:600px;
  }
  
  .left-section {
    background-color: #f5ece7; 
    padding: 40px;
    border-radius: 20px;
    width: 600px;
    position: relative;
    height:530px;
  }
  
  .left-section h1, .left-section h2 {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .left-section h1 {
    font-size: 70px;
    font-weight: bold;
  }
  
  .left-section h2 {
    font-size: 65px;
    margin-top: 30px;
    font-weight: normal;
  }
  
  .read-more {
    color: #7e3af2; 
    text-decoration: none;
    font-size: 35px;
    margin-top: 132px;
    display: inline-block;
  }
  
  .arrow {
    position: absolute;
    right: 135px;
    top: 30%;
    font-size: 133px;
    margin-left: 10px;
    color: #6a0dad;
    transform: rotate(-35deg);
  }
  
  .right-section {
    width: 50%;
    width:600px;
    height:550px;

  }
  .imagecontnt{
    display: flex;
  }
  .imagediv{
   
    width:100px;
    height:100px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .right-section h1 {
    font-size: 55px;
    font-weight: bold;
    margin-top: 70px;
   
  }
  
  .right-section h3 {
    font-size: 50px;
    color: #888;
    height: 60px;
    margin-top: 20px;
    font-weight: normal;
    /* border: solid red 1px; */
  }
  
  .right-section p {
    font-size: 23px;
    width: 100%;
    margin-top: 20px;
    color:black;
    /* border:solid red 1px; */
  }
  
  .profile-pictures {
    display: flex;
    margin-top: 40px;
  }
  
  .profile-pictures img {
    width: 70px;
    margin-right: 20px;
    height: 70px;
    gap:20px;
    border-radius: 50%;
    border: 2px solid white;
    /* border:solid red 1px;  */
  }
  
  